@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure no extra spacing at the top */



/* index.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the gradient covers the full viewport height */
}

#root {
  min-height: 100%; /* Ensures the root element stretches fully */
  
  background-attachment: fixed; /* Keeps the gradient fixed on scroll */
  background-size: cover; /* Ensures gradient stretches to cover entire area */
}

background: -webkit-linear-gradient(135deg, #4E342E, #2E7D32); /* Safari */
background: -moz-linear-gradient(135deg, #4E342E, #2E7D32); /* Firefox */
background: -o-linear-gradient(135deg, #4E342E, #2E7D32); /* Opera */
background: linear-gradient(135deg, #4E342E, #2E7D32); /* Standard */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
